.math {
	font-family: "Times New Roman", Times, serif;
}

a:link, a:visited {
	color: brown;
}

p {
	line-height: 105%;
}

body {
	overflow-x: hidden;
}

.itinerary-entry {
	font-size: 40px;
}
.itinerary-button {
	margin-top: 5px;
	margin-bottom: 5px;
}
.farey-fraction {
	text-align: center;
}
table.itinerary > tr > td {
	padding-right: 5px;
	padding-left:  5px;
}
.frieze {
	font-size: 30px;
}
table.frieze > tr > td {
	box-sizing: content-box;
	height: 2.2ch;
	width: 2.2ch;
	text-align: right;
	border-color: rgba(0, 0, 0, 0);
	border-width: thin;
	border-style: solid;
}
table.frieze > tr > td.frieze-entry-clustervar {
	background-color: #B0B0B0;
}
table.frieze > tr > td.frieze-entry-one {
	background-color: #D0D0D0;
}
table.frieze > tr > td.frieze-entry-shmaurent {
	background-color: PaleGreen;
}
table.frieze > tr > td.frieze-entry-frozen {
	border-color: black;
}
span.frac { /* inspired by stackoverflow.com/a/41679399 */
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
span.frac > .num, span.frac > .den {
  display: block;
  font: inherit;
}
span.frac > .num { border-bottom: 0.06em solid; }
span.hidden {
    position: absolute;
    clip: rect(0,0,0,0);
}
table.clustervars > tr > td {
	text-align: center;
}
.negative {
	display: none;
}
.negative-show {
	display: inline;
	background-color: #FFF6FF;
}
